
* {
  color: navy;
} /* I can't seem to get the h1 and h3 to turn navy without this???*/

p,
li{
  font-size: 18;
}

.jumbotron{
  background-size: cover;
  min-height: 300px;
}

#section-2{
  min-height: 300px;
}

#featured-puppies{
  background-color: rgb(211,211,211);
  min-height:500px;
}

#menu-buttons .btn{
background-color: navy
color: white;
}

.btn{
background-color: navy;
color:white;
}
