
/* I can't seem to get the h1 and h3 to turn navy without this???*/
* {
  color: navy;
}

p,
li {
  color: navy;
  font-size: 18;
}

#jumbotron{
  background-size: cover;
  min-height: 400px;
}

#section-2{
  min-height: 300px;
}

#featured-puppies{
  background-color: rgb(211,211,211);
  min-height:500px;
}

#menu-buttons .btn{
color:white;
background-color: navy;
}

.btn{
color:white;
background-color: navy;
}
